h1 {
    font-size  : 35px;
    line-height: 45px;
    font-family: 'Playfair Display', sans-serif;
    color      : $primaryColor;
}

em {
    font-size : 22px;
    font-style: italic;
}

h2, h3 {
    color: $textPrimaryColor;
}

h2 {
    font-size: 35px;
    text-align: center;
    line-height: 2.5;
}

h3 {
    font-family: Lato, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 20px;
}

// PRODUCTS
.lato-title {
    font-family: Lato, sans-serif;
}