@media screen and (min-width: 480px) {
    #hero {
        justify-content        : flex-end;
        -webkit-justify-content: flex-end;
    }

    h2 {
        font-size: 42px;
    }

    #about {
        .about-text {
            p {
                font-size: 22px;
            }

        }
    }

    #prices {
        .service {
            font-size: 18px;
        }

        .price-paragraph-wrapper {
            width     : 55%;
            text-align: center;
        }
    }
}

@media screen and (min-width: 770px) {
    #hero {
        justify-content        : flex-end;
        -webkit-justify-content: flex-end;
    }

    #products {
        @include flexItem(space-evenly, center);
        flex: 1 1 0px;
        gap : 15px;

        .product-container {
            flex: 1;
        }

        .product-container:nth-of-type(2n) {
            margin-top: 0;
        }
    }

    #about {
        width         : 80%;
        padding-top   : 0;
        padding-bottom: 0;
        margin        : 100px auto;
        border-left   : 2px solid black;
    }

    #prices {

        .price-list-wrapper {
            display              : -ms-grid;
            display              : grid;
            width                : 95%;
            height               : auto;
            max-width            : 1000px;
            margin-top           : 20px;
            grid-column-gap      : 16px;
            grid-row-gap         : 16px;
            -ms-grid-columns     : 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            -ms-grid-rows        : auto;
            grid-template-rows   : auto;
        }

        .price-card:nth-of-type(2n) {
            @include itemBorder(#000, 5px, rgba(27, 27, 24, 0.62), rgba(56, 56, 56, 0.2));
            background-color: $serviceCardBg;

        }
    }

    #gallery {
        padding: 80px;

        .gallery-grid {
            -ms-grid-columns     : 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows        : auto auto auto;
            grid-template-rows   : auto auto auto;
            -ms-grid-rows        : auto auto;
            grid-template-rows   : auto auto;
            grid-row-gap         : 16px;
            grid-column-gap      : 16px;
            grid-template-areas  :
                "top middle right"
                "top mid right"
                "bottom bottom bottomright";
        }

        .pic-1 {
            grid-area: top;
        }

        .pic-2 {
            grid-area: middle;
        }

        .pic-3 {
            grid-area: mid;
        }

        .pic-4 {
            grid-area: right;
        }

        .pic-5 {
            grid-area: bottomright;
        }

        .pic-6 {
            grid-area: bottom;
        }

        .image-card img {
            height    : 100%;
            opacity   : 0.8;
            object-fit: cover;
            max-width : 100%;
            max-height: 100%;
        }
    }

    #services {
        .services-grid {
            -ms-grid-columns     : 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            -ms-grid-rows        : auto auto;
            grid-template-rows   : auto auto;
        }
    }
}

@media screen and (min-width: 1040px) {
    #hero {
        justify-content        : flex-end;
        -webkit-justify-content: flex-end;
    }

    #products {
        @include flexItem(space-evenly, center);
        flex: 1 1 0px;
        gap : 15px;

        .product-container {
            flex: 1;
        }

        .product-container:nth-of-type(2n) {
            margin-top: 0;
        }
    }

    #about {
        width       : 60%;
        padding-left: 80px;
    }

    #gallery {
        padding: 80px;
    }

    #services {
        padding: 100px;
    }

    #prices {
        .price-list-wrapper {
            padding: 0;
        }
    }

    footer {
        display                : grid;
        padding                : 80px;
        box-sizing: border-box;
        -webkit-box-pack       : stretch;
        -webkit-justify-content: stretch;
        -ms-flex-pack          : stretch;
        justify-content        : stretch;
        justify-items          : start;
        -webkit-box-align      : start;
        -webkit-align-items    : start;
        -ms-flex-align         : start;
        align-items            : start;
        -webkit-align-content  : stretch;
        -ms-flex-line-pack     : stretch;
        align-content          : stretch;
        grid-column-gap        : 16px;
        grid-row-gap           : 16px;
        -ms-grid-columns       : 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns  : 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows          : auto;
        grid-template-rows     : auto;

        h3 {
            margin: 0 0 50px;
        }

        ul {
            li {
                margin: 30px 0;
            }
        }
    }
}