@media screen and (min-width: 480px) {
    #hero {
        justify-content        : flex-end;
        -webkit-justify-content: flex-end;
    }

    h2 {
        font-size: 42px;
    }

    #about {
        .about-text {
            p {
                font-size: 22px;
            }

        }
    }

    #prices {
        .service {
            font-size: 18px;
        }

        .price-paragraph-wrapper {
            width: 55%;
            text-align: center;
        }
    }
}

@media screen and (min-width: 770px) {
    #hero {
        justify-content        : flex-end;
        -webkit-justify-content: flex-end;
    }

    #products {
        @include flexItem(space-evenly, center);
        flex: 1 1 0px;
        gap: 15px;

        .product-container {
            flex: 1;
        }
        .product-container:nth-of-type(2n) {
            margin-top: 0;
        }
    }

    #about {
        width: 80%;
        padding-top: 0;
        padding-bottom: 0;
        margin: 100px auto;
        border-left: 2px solid black;
    }
}