@media screen and (min-width: 480px) {
    #hero {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }

    h2 {
        font-size: 42px;
    }
    #about {
        .about-text {
            p {
            font-size: 22px;
        }

        }
    }
}