#gallery {
    padding         : 20px;
    background-color: $galleryBg;


    .gallery-grid {
        display               : -ms-grid;
        margin: 0 auto;
        display               : grid;
        -webkit-box-orient    : vertical;
        -webkit-box-direction : normal;
        -webkit-flex-direction: column;
        -ms-flex-direction    : column;
        flex-direction        : column;
        max-width             : 1400px;
        grid-gap              : 16px;
    }

}